alias bazel=bazelisk

# Snapshoting
function rsnapshot-on() {
  touch /tmp/snapshot-tests-recording
}

function rsnapshot-off() {
  rm -f /tmp/snapshot-tests-recording
}

function rsnapshot() {
  if [ $1 = "on" ]; then
    touch /tmp/snapshot-tests-recording
  else
    rm -f /tmp/snapshot-tests-recording
  fi
}

# Git
function diif-to-clip() {
  git diff | pbcopy
}

function apply-clip() {
  pbpaste | git apply
}

